{% extends 'home_navbar.html' %}
    {% block content %}
    {% load custom_filter %}
        <div class="container-fluid p-0" style="background-color: #b5ecf3;">
            <div class="card product-card"> 
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="{{ product.image.url}}" class="img-fluid rounded-start ms-2 mt-4 mb-2 me-2" alt="product image">
                    </div>
                    <div class="col-md-9 p-2">
                        <div class="card-body"> 
                            <h5 class="card-title">{{product.name}}</h5> 
                        <p class="card-text">{{product.description}}</p>
                        <button class="btn btn-secondary mb-2" onclick="window.location.href='{% url 'category_selected' product.category.slug %}';"> {{product.category.name}}</button>
                        <p><strong>Price Comparison:</strong> {{product.price_amazon}} (Amazon) |  {{product.price_flipkart}} (Flipkart)</p>
                        <strong>Average Rating</strong>
                                <span class="text-muted">({{ product.no_of_users}}):</span> 
                                <span class="stars">
                                    {% for i in range_5 %}
                                        {% if product.average_rating >= i|add:1 %}
                                            <i class="bi bi-star-fill" style="color: gold;"></i> 
                                        {% elif product.average_rating >= i|add:0.5 %}
                                            <i class="bi bi-star-half" style="color: gold;"></i> 
                                        {% else %}
                                            <i class="bi bi-star" style="color: gold;"></i> 
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            
                                <span class="ms-2">{{ product.average_rating|floatformat:1 }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0" style=" background-color: #b5ecf3;">
                <p class="m-2"> <strong> Provide your rating and reviews for {{product.name}} </strong></p>
                <div class="card product-card ">
                    <div class="card-body">
                         <form method="POST" class="mb-2">
                            {% csrf_token %}
                            {{ ratingform.as_p }}
                            <button type="submit" name="rate" class="btn btn-success">Submit Rating</button>
                        </form>
                   
                   
                        <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#reviewModal">Click to Leave a Review</button>
                        <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <p class="modal-title" id="reviewModalLabel"> <strong>Mention your opininons of {{product.name}} </strong></p>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" >
                                  <form method="POST">
                                    {% csrf_token %}
                                    {{ reviewform.as_p }} <!-- Render review form fields (content) -->
                                    <button type="submit"  name="review" class="btn btn-primary">Submit Review</button>
                                </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                 
                </div>
               
                <h4 class="text-center bg-primary m-0 ">Customer Reviews</h4>
    
                {% if reviews %}
                    <div class="card product-card mb-4">
                    <div class="card-body ">
                    {% for review in reviews %}
                        <div class="mb-3">
                        <p class="mb-1"><strong>{{ review.user.username }}</strong></p>
                        <p class="mb-1">{{ review.content }}</p>
                        <small class="text-muted">Posted on: {{ review.created_at }}</small>
                        </div>
                        {% if not forloop.last %}
                        <hr>
                        {% endif %}
                    {% endfor %}
                    </div>
                    </div>
                {% else %}
                    <div class="card product-card mb-4">
                        <div class="card-body">
                            <p>No reviews yet. Be the first to post a review.</p>
                        </div>
                    </div>
                 {% endif %}

            </div>
        </div>
    {% endblock content %}